<div>
  <div>
    <h1>
      Submission #<%= @current_writer_list_of_submissions.id %> details
    </h1>

    <div>
      <div>
        <a href="/submissions/<%= @current_writer_list_of_submissions.writer_id %>">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_submission/<%= @current_writer_list_of_submissions.id %>">
          Delete submission
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @current_writer_list_of_submissions.body %>
      </dd>

      <dt>
        Word count
      </dt>
      <dd>
        <%= @current_writer_list_of_submissions.word_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@current_writer_list_of_submissions.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@current_writer_list_of_submissions.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>


<hr>
