<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <nav>
      <a href="/">Home</a>

      <% if current_writer != nil %>
        <a href="/writers/sign_out">Sign Out</a>
        <a href="/writers/edit">My Profile</a>  
      <% else %>
        <a href="/writers/sign_up">Sign Up</a>
        <a href="/writers/sign_in">Sign In</a>
      <% end %>
    

    </nav>
    <%= yield %>
  </body>
</html>
